<body>
    <header class="container bg-[#E9F1EF] min-w-full flex text-[#163530]">
      <nav class="md:max-w-6xl xl:w-3/5 lg:w-3/4 md:w-11/12 sm:mx-auto md:flex-row md:justify-between py-6 w-full flex flex-col items-center">
        <a href="/feed" class="flex w-1/5 flex-none sm:mb-5"><img class="flex-none" src="imgs/profile.png" alt="img"></a>
        <ul class="flex-initial flex md:gap-4 md:flex-nowrap md:flex-row md:w-2/4 uppercase md:justify-end self-center tracking-wider flex-wrap flex-col text-center">
            <li class="p-1.5 px-3"><a href="/feed">home</a></li>
            <li class="p-1.5 px-3"><a href="/profile">profile</a></li>
            <li class="p-1.5 px-3 rounded-md bg-[#163530] text-white"><a href="/newWorkout">new workout</a></li>

        </ul>
      </nav>
    </header>
  </body>