<%- include('partials/header') -%>


<main class="container bg-[#7b8b89] min-w-full h-screen flex ">

    <div class="drop-shadow-[0_0_45px_rgba(22,53,48,0.8)] bg-[#E9F1EF] bg-opacity-90 text-[#163530] w-3/6  m-auto after:block after:pb-[50%] items-center  justify-center flex max-w-xl ">
        <div class=" w-full text-center m-auto  p-[15%]">
            <!-- <div class="flex w-full justify-center"> -->
                <!-- <h1 class="text-6xl py-5 font-[comfortaa] font-medium"><a href="/">flexion</a></h1> -->
                <img class="" src="imgs/transpprofile.png" alt="">
            <!-- </div> -->
            <!-- <div class="flex justify-center">
                <img class="" src="imgs/transp.png" alt="">
            </div> -->
            <!-- <div class="flex justify-center w-9/12"> -->
            <!-- </div> -->
            <div class=" flex flex-row gap-4 justify-center tracking-wider uppercase text-center min-h-full py-4 mt-10">
                
                <!-- <a href="/feed" class="p-3 px-4 self-center rounded-lg"><i class="fa-solid fa-house"></i></a> -->
                <a href="/login" class="p-3 px-4  rounded-lg bg-white"> Login</a>
                <a href="/signup" class="p-3 px-4  border-2 border-[#163530] bg-[#163530] text-white rounded-lg hover:bg-white hover:text-[#163530]"> Signup</a>    
            </div> 
        </div>
    </div>
    <!-- <div class="p-4 w-9/12">
            
    </div> -->

    
</main>
    

<%- include('partials/footer') -%>